{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h2> Projects </h2>
		<p> Currently, I am studying Laplace and Fourier Transforms and their use
             in signal processing and differential equations for their uses in modelling. 
            My technical skills and experience are outlined as follows:
            <table>
                  <thead>
                        <th>Area</th>
                        <th>Proficiencies</th>
                  </thead>
                  <tr>
                        <td>Java Programming</td>
                        <td>
                              GUI programming using Java Swing, JavaFX using Java8 and networking using high-level socket APIs. 
                              I have worked to implement several abstract data types from scratch such as 
                              Graphs, Hash Maps and Red-Black trees in Java and C++.
                        </td>
                  </tr>
                  <tr>
                        <td>Python Programming</td>
                        <td>
                              Anaconda and SciPy for machine learning based data analysis and TKinter for GUI programming.
                              I also implemented a simple Snake game using Python’s drawing API and 
                              full-stack web development using Django.

                        </td>
                  </tr>
                  <tr>
                        <td>C/C++/C# Programming</td>
                        <td>
                              Both Windows and Unix systems with implementation of OOP, AI and Machine learning designs. 
                              I have also experimented with the .NET framework Windows Forms 
                              to create simple GUI applications in C# such as a standard GUI Windows calculator.
                        </td>
                  </tr>
                  <tr>
                        <td>Haskell Programming</td>
                        <td>
                              Constructing inductively defined data structure and working with input/output monads.
                        </td>
                  </tr>
                  <tr>
                        <td>HTML5, CSS3, JavaScript Programming</td>
                        <td>
                              Web-based design solutions with full-stack web development using Django
                        </td>
                  </tr>
                  <tr>
                        <td>SQLite Programming</td>
                        <td>
                              Developed systems using SQLite for database analysis.
                        </td>
                  </tr>
                  <tr>
                        <td>IDE Environments and Project Management
                              on Windows and Linux/Unix</td>
                        <td>
                              Comprehensive experience working with several modern IDEs
                               such as IntelliJ, Eclipse, Dev C/C++, Visual Studio,
                                PyCharm and GIT.

                        </td>
                  </tr>
                  <tr>
                        <td>
                              Microsoft Office 365 Suite
                        </td>
                        <td>
                              Proficient using Microsoft Office 365 desktop publishing software 
                              such as Word, Publisher, PowerPoint, Excel and OneDrive.
                        </td>
                  </tr>
                  <tr>
                        <td>
                              Adobe Suite
                        </td>
                        <td>
                              Proficient using Photoshop, Acrobat, Dreamweaver and Premiere.
                        </td>
                  </tr>
                  <tr>
                        <td>
                              Cloud Computing
                        </td>
                        <td>
                              Elementary use of VMware, virtualisation with creation of VM’s and deployment.
                        </td>
                  </tr>
                  <tr>
                        <td>
                              Networking
                        </td>
                        <td>
                              Elementary simple networking using IPv4 and implementation of a
                               simple TCP/IP server and client in C90, using pre-processor directives
                                to create portable code across both Windows and Unix systems.
                        </td>
                  </tr>
                  <tr>
                        <td>
                              Artificial Intelligence
                        </td>
                        <td>
                              I have developed programs that use the Naïve Bayes approach to 
                              predict emotions from text-based on training data and a simple 
                              Neural Network from scratch using NumPy, which uses the MNIST 
                              data set to predict the value of handwritten numbers from 
                              labelled training data.
                        </td>
                  </tr>
            </table>

	<h2> Placement </h2>
		<p>As part of my degree, in my third year, I will undertake an industrial placement 
            which I believe will be an essential part of my training in this field. 
            At this point in my career, my goal is to explore as many different 
            disciplines of Computer Science as I can to find which areas interest me 
            the most! Equally, I recognize the importance of business and people 
            skills within Computing due to the need to communicate with clients
             and work in teams within pressurised environments, an area which 
             I hope to gain crucial experience in. 
		</p>
{% endblock %}